<table class="loops">
  <colgroup>
    <col style="width: 19%"/>
    <% [1,2,3,4,5].each do |i| %>
      <col style="width: 9%">
      <col style="width: 9%">
    <% end %>
  </colgroup>
  <thead>
    <tr>
      <th class="loops__header">
        Name
      </th>
      <% [1,2,3,4,5].each do |i| %>
        <% if i > 1 %>
          <th class="loops__header">
            <div>
              <span>Loop <%=i %></span>
              <span>start</span>
            </div>
          </th>
        <% end %>

        <th class="loops__header">
          <div>
            <span>Loop <%=i %></span>
            <span>finish</span>
          </div>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% Barkley.loops.each do |nickname, (runner,loops)| %>
      <tr class="loops__line">
        <td class="loops__name">
          <span class="loops__name__nick"><%= nickname.to_s.split("_").map(&:capitalize).join(" ") %></span>
          <% if runner %>
            <span class="loops__name__guess">
              <a href="/r/<%= runner.key %>">
                <%= runner.profile.name %>?
              </a>
            </span>
          <% end %>
        </td>

        <% loops.each.with_index(1) do |l, i| %>
          <% if i > 1 %>
            <td>
              <% if l.started? || l.finished? %>
                <%= hhmmss(l.start) if l.start%>
              <% end %>
            </td>
          <% end %>
          <td>
            <% if l.finished? %>
              <% if l.stop == 0 %>
                DNF
              <% else %>
              <%= hour_minute_seconds(l.stop).join(":") %>
            <% end %>
            <% elsif l.started? %>
              <span class="highlight highlight--green">
                <%= elapsed(l.started_at, style: "narrow") %>
              </span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
