<table class="loops">
  <colgroup>
    <col style="width: 19%"/>
    <% [1,2,3,4,5].each do |i| %>
      <col style="width: 9%">
      <col style="width: 9%">
    <% end %>
  </colgroup>
  <thead>
    <tr>
      <th class="loops__header">
        Name
      </th>
      <% [1,2,3,4,5].each do |i| %>
        <% if i > 1 %>
          <th class="loops__header">
            <div>
              <span>Loop <%=i %></span>
              <span>start</span>
            </div>
          </th>
        <% end %>

        <th class="loops__header">
          <div>
            <span>Loop <%=i %></span>
            <span>finish</span>
          </div>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @edition.sorted_nicknames.each do |nickname| %>
      <tr class="loops__line">
        <td class="loops__name">
          <span class="loops__name__nick"><%= nickname.name %></span>
          <% if runner = nickname.runner %>
            <span class="loops__name__guess">
              <a href="/r/<%= runner.key %>">
                <%= runner.profile.name %>?
              </a>
            </span>
          <% end %>
        </td>

        <% nickname.loops.each.with_index(1) do |l, i| %>
          <% if i > 1 %>
            <td>
              <% if l.started? || l.finished? || l.dnf? %>
                <% if l.start %>
                  <% if l.start_source %>
                    <a href="<%= l.start_source %>" title="<%= l.start_title %>">
                      <%= hhmmss(l.start) %>
                    </a>
                  <% else %>
                    <%= hhmmss(l.start) %>
                  <% end %>
                  <% if i == 5 %>
                    <span class="highlight highlight--yellow">
                      <%= l.direction.to_s.upcase %>
                    </span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          <% end %>
          <td data-score="<%= l.score %>">
            <% if l.dnf? %>
              <% if l.finish_source %>
                <a href="<%= l.finish_source %>" title="<%= l.stop_title %>">
                  <span class="highlight highlight--red">DNF</span>
                </a>
              <% else %>
                <span class="highlight highlight--red">DNF</span>
              <% end %>
            <% elsif l.finished? %>
              <% if l.finish_source %>
                <a href="<%= l.finish_source %>" title="<%= l.stop_title %>">
                  <%= hhmmss(l.stop) %>
                </a>
              <% else %>
                <%= hhmmss(l.stop) %>
              <% end %>
            <% elsif l.started? %>
              <span class="highlight highlight--green loops__ongoing">
                <%= elapsed(l.started_at, style: "narrow") %>
              </span>
            <% end %>
            <% if l.fun_run? %>
              <span class="highlight highlight--blue" title="Completed a Fun Run">
                FUN
              </span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
