<div class="runner">
  <h1 class="runner__name">
    <%= runner.profile.name %>
  </h1>

  <div class="runner__info">
    <span title="<%= runner.profile.nationality %>" class="flag flag--<%= runner.profile.nationality %>"></span> <%= runner.profile.year %>
  </div>

  <div class="runner__links">
    <% [
      :strava,
      :instagram,
      :twitter,
      :duv
    ].each do |key| %>
      <% if link = runner.the_inter_webs.public_send(key) %>
        <a href="<%= link %>">
          <%= key %>
        </a>
      <% end %>
    <% end %>
  </div>
</div>
