<div class="runner">
  <h1 class="runner__name">
    <%= runner.profile.name %>
  </h1>

  <div class="runner__info">
    <span title="<%= runner.profile.nationality %>" class="flag flag--<%= runner.profile.nationality %>">
    </span>

    <span class="runner__info__age">
      <strong>Age</strong> <%= runner.profile.age %>
    </span>

    <span class="runner__info__attempts">
      <strong>Attempts</strong> <%= runner.attempts %>
    </span>

  </div>

  <figure class="runner__figure">
    <img
      src="/runners/<%= runner.key %>.jpg"
      alt="<%= runner.profile.name %>"
    />
    <figcaption>
    </figcaption>
  </figure>

  <div class="runner__notes">
    <% runner.notes.split("\n").each do |paragraph| %>
      <p>
        <%= paragraph %>
      </p>
    <% end %>
  </div>

  <div class="runner__links">
    <% [
      :strava,
      :instagram,
      :twitter,
      :duv,
      :web,
      :wiki,
    ].each do |key| %>
      <% if link = runner.the_inter_webs.public_send(key) %>
        <a href="<%= link %>">
          <%= key %>
        </a>
      <% end %>
    <% end %>
  </div>
</div>
