<h1>Barkley Marathons 2024</h1>

<ul class="navigation">
  <% %w(timeline cutoffs loops resources runners).each do |item| %>
    <li><a href="#<%= item %>"><%= item.capitalize %></a></li>
  <% end %>
</ul>

<h2 id="timeline">Timeline</h2>

The conch was blown at <span class="highlight"><%= local_time(Barkley.conch_blown) %></span> so the race started at <span class="highlight"><%= local_time(Barkley.start) %></span>, so we've been running for <span class="highlight"><%= elapsed(Barkley.start) %></span> and we still have <span class="highlight highlight--blue"><%= elapsed(Barkley.end_time) %></span> remaining before it all ends.

<h2 id="cutoffs">Cutoffs</h2>

You can't start a loop after it's cutoff.

<div class="cutoffs">
  <div>
    <p class="cutoffs__header">Time remaining</p>
    <p><%= elapsed(Barkley.start + 60*60*60, style: "narrow") %></p>
  </div>


  <% [1,2,3,4,5].map{|i| [i, Barkley.start + i*12*60*60]}.each do |i,cutoff| %>
    <div>
      <p class="cutoffs__header">Loop <%= i %> cutoff</p>
      <p>
        <%= elapsed(cutoff, style: "narrow") %>
      </p>
    </div>
  <% end %>

  <div>
    <p class="cutoffs__header">
      <abbr title="You need to finish your third loop in 40 hours, if you start a 4th loop, it's no longer a fun run.">Fun run cut off*</abbr>
    </p>
    <p><%= elapsed(Barkley.fun_run_cut_off, style: "narrow") %></p>
  </div>
</div>

<h2 id="loops">Loops</h2>

<%= partial("loops") %>

<h2 id="resources">Resources</h2>

<ul class="resources">
  <li>
    The official&trade; information, provided by the infallible legend that is <a href="https://x.com/keithdunn">Keith Dunn</a> (and the <a href="https://social.running.cafe/@KeithDunn">Mastodon bot</a> that will relay his tweets)
  </li>

  <li>
    Did a tremendous job of providing updates and useful information last year: <a href="https://x.com/taka_does_stuff">Taka Does Stuff</a> and <a href="https://epicure.social/@anna_propriate">Anna</a>.

    And also caretakers of <strong style="font-weight: 800"><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vS7bFn8RH5Na4vVxNijCsFCiHeYqRksDi5D9ddC9Fz4yK7nOQhEg8HwG78lz-PFVB2EkFn4QlJKEXMV/pubhtml#">The List&trade;</a></strong>. This is probably your best best on the most up to date info.
  </li>

  <li>
    It's a horrible, horrible network but the hashtag is usually fun to follow as well: <a href="https://x.com/hashtag/bm100?lang=en">#bm100</a>
  </li>

  <li>
    Speaking of horrible networks, <a href="https://www.facebook.com/lazarus.lake.7/posts/pfbid0RW4FyPbGs3N8V3hxX7w1TsfcECfTbbV26uN6sFsJQKBJPcWdv46DUzUq6kG2MGaql">Laz's Facebook page</a>
  </li>

  <li>
    A better network but less people on it, <a href="https://elk.zone/mastodon.social/tags/bm100">Mastodon #bm100</a>
  </li>

  <li>
    Photographers known to be around: <a href="https://www.instagram.com/howiesternphoto/">Howie Stern</a>, <a href="https://www.instagram.com/davidmiller.photography/">David Miller</a> and <a href="https://www.instagram.com/searchingforzocherman/">Jacob Zocherman</a>
  </li>
</ul>


<h2 id="runners">Runners</h2>

<div class="runners_overview">
  <% Barkley.runners.each.with_index(1) do |runner, index| %>
    <div class="overview__entry">
      <div class="overview__main">
        <a class="overview__name" href="/r/<%= runner.key %>">
          <%= runner.profile.name %>
        </a>
        <div class="overview__sub">
          <ul>
            <li>
              <span title="<%= runner.profile.nationality %>" class="flag flag--<%= runner.profile.nationality %>"></span>
            </li>
            <li>
              <strong>Age</strong> <%= runner.profile.age %>
            </li>
            <li>
              <strong>Attempts</strong> <%= runner.attempts %>
            </li>
            <% if runner.finishes > 0 %>
              <li>
                <strong>Finishes</strong> <%= runner.finishes %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <p class="overview__info">
        <span class="overview__state overview__state--<%= runner.state.state %>">
          <abbr title="<%= runner.state.reason %>">
            <%= runner.state.state %>
          </abbr>

        </span>
      </p>
    </div>
  <% end %>
</div>


<p class="footer">
  From your friends at <a href="https://ferrett.io">Ferrett</a>. <abbr class="left" title="We're training ferretts to track and share your runs.">[?]</abbr> | <a href="https://github.com/pjaspers/barkley">Source</a>
</p>
