<h1>Barkley Marathons 2024</h1>

<h2>Resources</h2>

<ul class="resources">
  <li>
    The official&trade; information, provided by the infallible legend that is Keith Dunn. <a href="https://x.com/keithdunn">keithdunn</a> (and the <a href="https://elk.zone/mas.to/@KeithDunn@running.cafe">Mastodon bot</a> that will relay his tweets)
  </li>

  <li>
    Did a tremendous job of providing updates and useful information last year: <a href="https://x.com/taka_does_stuff">Taka Does Stuff</a>
  </li>

  <li>
    It's a horrible, horrible network but the hashtag is usually fun to follow as well: <a href="https://x.com/hashtag/bm100?lang=en">#bm100</a>
  </li>

  <li>
    Speaking of horrible networks, <a href="https://www.facebook.com/lazarus.lake.7/posts/pfbid0RW4FyPbGs3N8V3hxX7w1TsfcECfTbbV26uN6sFsJQKBJPcWdv46DUzUq6kG2MGaql">Laz's Facebook page</a>
  </li>

  <li>
    A better network but less people on it, <a href="https://elk.zone/mastodon.social/tags/bm100">Mastodon #bm100</a>
  </li>

  <li>
    <strong>The List&trade;</strong> by <a href="https://x.com/taka_does_stuff">Taka</a> and <a href="https://epicure.social/@anna_propriate">Anna</a>, a google sheet you can find: <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vS7bFn8RH5Na4vVxNijCsFCiHeYqRksDi5D9ddC9Fz4yK7nOQhEg8HwG78lz-PFVB2EkFn4QlJKEXMV/pubhtml#">here</a>. This is probably your best best on the most up to date info.
  </li>
</ul>


<h2>Runners</h2>

<div class="runners_overview">
  <% Barkley.runners.each.with_index(1) do |runner, index| %>
    <div class="overview__entry">
      <div class="overview__main">
        <a class="overview__name" href="/r/<%= runner.key %>">
          <%= runner.profile.name %>
        </a>
        <div class="overview__sub">
          <ul>
            <li>
              <span title="<%= runner.profile.nationality %>" class="flag flag--<%= runner.profile.nationality %>"></span>
            </li>
            <li>
              <strong>Age</strong> <%= runner.profile.age %>
            </li>
            <li>
              <strong>Attempts</strong> <%= runner.attempts %>
            </li>
            <% if runner.finishes > 0 %>
              <li>
                <strong>Finishes</strong> <%= runner.finishes %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <p class="overview__info">
        <span class="overview__state overview__state--<%= runner.state.state %>">
          <abbr title="<%= runner.state.reason %>">
            <%= runner.state.state %>
          </abbr>

        </span>
      </p>
    </div>
  <% end %>
</div>


<p class="footer">
  From your friends at <a href="https://ferrett.io">Ferrett</a>. <abbr class="left" title="We're training ferretts to track and share your runs.">[?]</abbr> | <a href="https://github.com/pjaspers/barkley">Source</a>
</p>
