<h1>Barkley Marathons <%= @edition.year %></h1>

<% if @edition.conch_blown? %>
  <ul class="navigation">
    <% %w(timeline cutoffs loops resources runners).each do |item| %>
      <li><a href="#<%= item %>"><%= item.capitalize %></a></li>
    <% end %>
  </ul>

  <h2 id="timeline">Timeline</h2>
  <% if @edition.finished? %>
    <p>
      The conch was blown at <span class="highlight"><%= local_time(@edition.conch_blown) %></span> so the race started at <span class="highlight"><%= local_time(@edition.start) %></span>, and the race ended at <span class="highlight"><%= local_time(@edition.end_time) %></span>.
    </p>
  <% elsif @edition.started? %>
    <p>
      The conch was blown at <span class="highlight"><%= local_time(@edition.conch_blown) %></span> so the race started at <span class="highlight"><%= local_time(@edition.start) %></span>, and the race will end at <span class="highlight"><%= local_time(@edition.end_time) %></span>.
    </p>
  <% else %>
    <p>
      The conch was blown at <span class="highlight"><%= local_time(@edition.conch_blown) %></span> so the race will start at <span class="highlight"><%= local_time(@edition.start) %></span>, and the race will end at <span class="highlight"><%= local_time(@edition.end_time) %></span>.
    </p>
  <% end %>
<% else %>
  <h2 class="no-conch">
    No sign of the conch <span class="highlight--red">yet.</span>
  </h2>
<% end %>

<% if @edition.year == 2024 && @edition.finished? %>
<h3 class="highlight highlight--blue whatarace">
  <strong>The 2024 Barkley Marathons has ended. There are five finishers. #BM100</strong>
</h3>

<figure class="finishers">
  <img
    src="/finishers.jpeg"
    alt="2024 Barkley finishers"
  />
  <figcaption>
    From left to right: <a href="<%= runner_a("greig") %>">Greig Hamilton</a>, <a href="<%= runner_a("jared") %>">Jared Campbell</a>, <a href="<%= runner_a("ihor") %>">Ihor Verys</a>, <a href="<%= runner_a("jasmin") %>">Jasmin Paris</a> and <a href="<%= runner_a("john") %>">John Kelly</a>. <a href="https://twitter.com/keithdunn/status/1771289243979014519">[source]</a>
  </figcaption>
</figure>
<% end %>

<% if @edition.ongoing? %>
  <% if @edition.started? %>
    They've been running for <span class="highlight"><%= elapsed(@edition.start) %></span> and we still have <span class="highlight highlight--blue"><%= elapsed(@edition.end_time) %></span> remaining before it all ends.
  <% else %>
    Time until we start: <span class="highlight"><%= elapsed(@edition.start) %></span>
  <% end %>
<% end %>

<% if @edition.year == 2025 && @edition.finished? %>
<h3 class="highlight highlight--blue whatarace">
  <strong>The 2025 Barkley Marathons has ended. There are no finishers. #BM100</strong>
</h3>
<% end  %>

<% if @edition.conch_blown? %>
  <h2 id="cutoffs">Cutoffs</h2>

  You can't start a loop after it's cutoff.

  <div class="cutoffs">
    <% [1,2,3,4,5].each do |i| %>
      <div>
        <p class="cutoffs__header">Loop <%= i %> cutoff</p>
        <div class="cutoffs__box">
          <% if i == 3 %>
            <div class="cutoff__funrun">
              <%= partial("cutoff", locals: {cutoff: @edition.cut_off_fun_loop(loop_number: i)}) %>
              <h4>Fun Run</h4>
            </div>
          <% end %>

          <div class="cutoff_fullrun">
            <%= partial("cutoff", locals: {cutoff: @edition.cut_off(loop_number: i)}) %>
            <% if i == 3 %>
              <h4>Full Run</h4>
            <% end %>
          </div>
        </div>
      </div>
    <% end%>
  </div>
<% end %>

<% if @edition.conch_blown? %>
  <h2 id="loops">Loops</h2>

  <%= partial("loops") %>
<% end %>

<h2 id="resources">Resources</h2>

<ul class="resources">
  <li>
    The official&trade; information, provided by the infallible legend that is <a href="https://bsky.app/profile/keithdunn.bsky.social">Keith Dunn</a> (and the <a href="https://social.running.cafe/@KeithDunn">Mastodon bot</a> that will relay his tweets)
  </li>

  <li>
    Did a tremendous job of providing updates and useful information last year: <a href="https://x.com/taka_does_stuff">Taka Does Stuff</a> and <a href="https://epicure.social/@anna_propriate">Anna</a>.

    And also caretakers of <strong style="font-weight: 800"><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vS7bFn8RH5Na4vVxNijCsFCiHeYqRksDi5D9ddC9Fz4yK7nOQhEg8HwG78lz-PFVB2EkFn4QlJKEXMV/pubhtml#">The List&trade;</a></strong>. This is probably your best bet on the most up to date info.
  </li>

  <li>
    Since Keith is now on <a href="https://bsky.app/profile/keithdunn.bsky.social">Bluesky</a>, the hashtag is also there: <a href="https://bsky.app/hashtag/BM100">#bm100</a>, the old horrible, horrrible network got even more horrible but I think there are still people there: <a href="https://x.com/hashtag/bm100?lang=en">#bm100</a>
  </li>

  <li>
    Speaking of horrible networks, <a href="https://www.facebook.com/lazarus.lake.7/posts/pfbid0RW4FyPbGs3N8V3hxX7w1TsfcECfTbbV26uN6sFsJQKBJPcWdv46DUzUq6kG2MGaql">Laz's Facebook page</a>
  </li>

  <li>
    A better network but less people on it, <a href="https://elk.zone/mastodon.social/tags/bm100">Mastodon #bm100</a>
  </li>

  <li>
    Photographers known to sometimes be around: <a href="https://www.instagram.com/howiesternphoto/">Howie Stern</a>, <a href="https://www.instagram.com/davidmiller.photography/">David Miller</a> and <a href="https://www.instagram.com/searchingforzocherman/">Jacob Zocherman</a>
  </li>
</ul>

<% if @edition.runners.any? %>
  <h2 id="runners">Runners</h2>

  <div class="runners_overview">
    <% @edition.runners.each.with_index(1) do |runner, index| %>
      <div class="overview__entry">
        <div class="overview__main">
          <a class="overview__name" href="<%= runner_a(runner.key) %>">
            <%= runner.profile.name %>
          </a>
          <div class="overview__sub">
            <ul>
              <li>
                <span title="<%= runner.profile.nationality %>" class="flag flag--<%= runner.profile.nationality %>"></span>
              </li>
              <li>
                <strong>Age</strong> <%= runner.profile.age %>
              </li>
              <li>
                <strong>Attempts</strong> <%= runner.attempts %>
              </li>
              <% if runner.finishes > 0 %>
                <li>
                  <strong>Finishes</strong> <%= runner.finishes %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <p class="overview__info">
          <span class="overview__state overview__state--<%= runner.state.state %>">
            <abbr title="<%= runner.state.reason %>">
              <%= runner.state.state %>
            </abbr>

          </span>
        </p>
      </div>
    <% end %>
  </div>
<% end %>


<p class="footer">
  From your friends at <a href="https://ferrett.io">Ferrett</a>. <abbr class="left" title="We're training ferretts to track and share your runs.">[?]</abbr> | <a href="https://github.com/pjaspers/barkley">Source</a> | Previously: <a href="/2025">2025</a>, <a href="/2024">2024</a>
</p>
