<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= @page_title || opts[:default_title] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Barkley 2024">
    <style>
     :root {
       --main-width: 80ch;
       --unit: 8px;
       --background: hsl(42deg 89% 96%);
       --red: hsl(336, 65%, 72%);
       --pop-red: hsl(336, 100%, 60%);

       --pink: hsl(20deg 75% 80%);
       --yellow: hsl(60deg 75% 80%);
       --blue: hsl(180deg 75% 80%);
       --green: hsl(120deg 75% 80%);

       --shadow-color: 40deg 27% 60%;
       --shadow-elevation-low:
         0px 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
         0.1px 0.2px 0.3px -1.2px hsl(var(--shadow-color) / 0.34),
         0.1px 0.4px 0.5px -2.5px hsl(var(--shadow-color) / 0.34);
       --shadow-elevation-medium:
         0px 0.1px 0.1px hsl(var(--shadow-color) / 0.36),
         0.1px 0.3px 0.4px -0.8px hsl(var(--shadow-color) / 0.36),
         0.3px 0.8px 1px -1.7px hsl(var(--shadow-color) / 0.36),
         0.6px 1.9px 2.2px -2.5px hsl(var(--shadow-color) / 0.36);
       --shadow-elevation-high:
         0px 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
         0.2px 0.5px 0.6px -0.4px hsl(var(--shadow-color) / 0.34),
         0.3px 1px 1.2px -0.7px hsl(var(--shadow-color) / 0.34),
         0.6px 1.7px 2px -1.1px hsl(var(--shadow-color) / 0.34),
         0.9px 2.7px 3.2px -1.4px hsl(var(--shadow-color) / 0.34),
         1.4px 4.2px 5px -1.8px hsl(var(--shadow-color) / 0.34),
         2.1px 6.3px 7.5px -2.1px hsl(var(--shadow-color) / 0.34),
         3.1px 9.4px 11.1px -2.5px hsl(var(--shadow-color) / 0.34);
     }
     @font-face {
       font-family: 'Paint';
       src: url('/fonts/PaintFactory-Regular.woff2') format('woff2');
       font-weight: 400;
       font-style: normal;
       font-display: fallback;
     }
     @font-face {
       font-family: 'Paint';
       src: url('/fonts/PaintFactory-Bold.woff2') format('woff2');
       font-weight: 700;
       font-style: normal;
       font-display: fallback;
     }
     h1, h2, h3, h4 {
       font-family: "Paint";
     }
     * {
       margin: 0;
       padding: 0;
       outline: none;
       font-size: 1em;
       font-weight: normal;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       color: inherit;
       text-align: left;
       line-height: 1.8;
     }
     body {
       background-color: var(--background);
       font-size: 16px;
       font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
       white-space: normal;
       -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       -webkit-font-feature-settings: "liga" on;
       font-feature-settings: "liga" on;
       -moz-font-feature-settings: "liga" on;
       line-height: calc(var(--unit) * 2.5);
       min-height: 100vh;
       scroll-behavior: smooth;
     }
     .wrapper {
       margin: 0 auto;
       max-width: var(--main-width);
       padding: var(--unit);
     }
     @media(min-width: 700px) {
       .wrapper {
         padding: 0;
       }
     }
     .resources li {
       margin-bottom: calc(2* var(--unit));
     }
     .footer {
       margin-top: calc(2* var(--unit));
     }
     a {
       color: var(--pop-red);
     }
     strong {
       font-weight: 800;
     }
     .highlight {
       background-color: hsl(60deg 75% 80%);
       border-radius: 4px;
       padding: calc(var(--unit) / 2) calc(var(--unit) / 2);
     }

     <% %w(yellow blue pink green).each do |color| %>
       .highlight--<%= color %> { background-color: var(--<%= color %>); }
     <% end %>
     .highlight--red {
       background-color: var(--pop-red);
       color: var(--background);
     }
     /* clamp(min, val, max) */
     h1 { font-size: clamp(2.0rem, 4.0vw + 1rem, 6rem); }
     h2 { font-size: clamp(1.5rem, 2.0vw + 1rem, 4rem); }
     h3 { font-size: clamp(1.2rem, 1.2vw + 1rem, 3rem); }
     h4 { font-size: clamp(0.9rem, 1.0vw + 1rem, 2rem); }

     .runner {
       display: grid;
     }
     .runner__name {
       font-weight: 800;
     }
     .runner__info {
     }
     .runner__info strong {
       font-weight: 800;
     }
     .runner__links {
       margin-top: calc(2* var(--unit));
       display: flex;
       flex-direction: row;
       gap: 24px;
     }
     .runner__links > * {
       flex: 1 1 0px;
       border: 2px solid white;
       background: var(--pop-red);
       border-radius: 10px;
       color: white;
       font-family: Paint;
       padding: var(--unit) 0;
       text-align: center;
     }
     /* https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css */
     abbr.left:before {
       /* reset defaults */
       left:initial;
       margin:initial;
       top: initial;

       /* set new values */
       top: -80px;
       margin-right:15px;
       transform:translateX(50%);
     }

     abbr {
       position: relative;
     }
     .footer abbr {
       color: #c8b7af;
       border-bottom:1px dashed #c8b7af;

     }
     abbr:hover {
       color: red;
       font-weight: strong;
     }
     abbr:before {
       content: attr(title); /* here's the magic */
       position:absolute;
       z-index: 9999;
       /* vertically center */
       left:0;
       margin-top: calc(var(--unit) * 1);
       /* basic styles */
       width:200px;
       padding:10px;
       border-radius:10px;
       background:#000;
       color: #fff;
       text-align:center;
       display: none;
     }
     abbr:after {
       content: "";
       position:absolute;
       left:50%;
       transform:translateX(-50%);
       margin-top: calc(var(--unit) * -1);
       border:10px solid #000;
       border-color: transparent transparent black transparent;

       display:none;
     }
     abbr:hover::before, abbr:hover::after {
       display: block;
     }
     .flag {
       background-size: contain;
       background-position: 50%;
       background-repeat: no-repeat;
       position: relative;
       display: inline-block;
       width: 1.333333em;
       line-height: 1em;
     }
     .flag:before {
       content: " ";
     }
     <% Barkley.runners.map{|r| r.profile.nationality.to_s}.uniq.each do |code| %>
      .flag--<%= code %> { background-image: url(../flags/4x3/<%= code %>.svg) }
     <% end %>

     .runner__figure img {
       width: 100%;
       height: 200px;
       object-fit: contain;
     }
     @supports (aspect-ratio: 1 / 1) {
       .runner__figure img {
         height: revert;
         aspect-ratio: 3 / 1;
       }
     }
     .overview__entry {
       display: grid;
       align-items: baseline;
       grid-auto-flow: column;
       grid-template-columns: 4fr 1fr;
     }
     .overview__name {
       font-family: Paint;
       font-size: 2em;
     }
     .overview__main {
       display: grid;
     }
     .overview__sub strong {
       font-weight: 800;
     }
     .overview__sub ul {
       display: grid;
       grid-template-columns: 1fr 1fr 1.5fr 2fr;
       grid-auto-flow: column;
       list-style: none;
     }
     .overview__state {
       width: fit-content;
       border-radius: 4px;
       padding: var(--unit) var(--unit);
     }
     .overview__state--confirmed {
       background-color: hsl(120deg 75% 80%);
     }
     .overview__state--likely {
       background-color: hsl(20deg 75% 80%);
     }
     .overview__state--maybe {
       background-color: hsl(60deg 75% 80%);
     }
     .loops__header {
       font-family: Paint;
       font-weight: 800;
     }
     .loops__header > *{
       display: grid;
       font-weight: 800;
     }
     .loops__header > div > span{
       font-weight: 800;
     }
     .loops__name {
       display: grid;
     }
     .loops__name__nick {
       font-family: Paint;
     }
     .loops__name__guess {
       font-size: smaller;
     }
     .loops {
       border-collapse: collapse;
     }
     .loops th {
       position: sticky;
       top: 0;
       background: var(--background);
       z-index: 2;
     }
     .loops td:first-child {
       position: sticky;
       left: 0;
     }
     .loops tbody tr:nth-child(even) {
       background-color: hsl(20, 75.72%, 93.82%);
     }
     .loops__ongoing {
       white-space: nowrap;
       padding: 0 calc(var(--unit) / 2);
       display: grid;
       max-width: 100%;
     }
     .cutoffs {
       display: grid;
       align-items: baseline;
       grid-auto-flow: row;
       grid-template-columns: 1fr 1fr 1fr 1fr;
     }
     .cutoffs__header {
       font-weight: 800;
       font-family: Paint;
     }
     .navigation {
       display: grid;
       grid-auto-flow: column;
       list-style: none;
       font-family: Paint;
       background: var(--pop-red);
       border-radius: 10px;
       justify-items: center;
     }
     .navigation li {
       padding: calc(0.8 * var(--unit)) 0;
     }
     .navigation li a {
       color: white;
       text-decoration: none;
     }

    </style>
  </head>
  <body>
    <!-- Fancy shmancy importmaps, see scripts/save-importmap to regenerate -->
    <script type="importmap">
     {
       "env": [
         "browser",
         "production",
         "module"
       ],
       "imports": {
         "@github/relative-time-element": "./dist/@github--relative-time-element.js"
       }
     }
    </script>

    <!-- ES Module Shims: Import maps polyfill for older browsers without import maps support (eg Safari 16.3) -->
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.3/dist/es-module-shims.js" crossorigin="anonymous"></script>
    <script type="module">
      import * as RelativeTimeElement from "@github/relative-time-element";
    </script>

    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
