<table class="loops">
  <tr>
    <th class="loops__header">
      Name
    </th>
    <% [1,2,3,4,5].each do |i| %>
      <th class="loops__header">
        <div>
          <span>Loop <%=i %></span>
          <span>start</span>
        </div>

      </th>
      <th class="loops__header">
        <div>
          <span>Loop <%=i %></span>
          <span>finish</span>
        </div>
      </th>
    <% end %>
  </tr>
  <tbody>
    <% Barkley.loops.each do |nickname, (runner,loops)| %>
      <tr class="loops__line">
        <td class="loops__name">
          <span class="loops__name__nick"><%= nickname.to_s.split("_").map(&:capitalize).join(" ") %></span>
          <% if runner %>
            <span class="loops__name__guess"><%= runner.profile.name %>?</span>
          <% end %>
        </td>

        <% loops.each do |l| %>
          <td>
            <% if l.started? || l.finished? %>
              <%= hhmmss(l.start) %>
            <% end %>
          </td>
          <td>
            <% if l.finished? %>
              <%= hour_minute_seconds(l.stop).join(":") %>
            <% elsif l.started? %>
              <span class="highlight highlight--green">
                <%= elapsed(l.started_at, style: "narrow") %>
              </span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
